*{
   margin: 0px;
  padding: 0px;
}
  
body {
  background-image: url('/RDT_20220823_145050767019339260616612.jpg');
  background-size: cover;          
  background-repeat: no-repeat;   
  background-position: center;     
  height: 100vh;                   
  margin: 0;
  font-family: sans-serif;
}

.passwordBox{
  width: 500px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(20, 19, 19, 0.753); position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  background: rgba(255, 255, 255, 0.55);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  padding: 35px 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: #222;
  overflow-y: auto;
  max-height: 85vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.passwordBoxin input:active {
  box-shadow: 0 0 15px rgba(12, 116, 235, 0.9);
}

.passwordBoxin button:active {
  box-shadow: 0 0 15px rgba(12, 116, 235, 0.9);
}

p{
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
  font-weight: 320;
  white-space: nowrap;
  font-size: clamp(20px, 5vw, 48px);
 font-family: cursive;
}
.passwordBoxin{
  display: flex;
  gap: 25px;
  
}
.passwordBoxin input{
 width: 250px;
  padding: 10px;
  background: rgba(12, 116, 235, 0.373);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(12, 116, 235, 0.373);
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  outline: none;
}
.passwordBoxin button{
  flex-basis: 20%;
padding: 10px 10px;
background-color:rgba(12, 116, 235, 0.373); 
outline: none;
}
  
.passlength{
   padding: 10px 10px;
  
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}
.passlength label{
 padding-top: 16px;
 
}

.passlength input:active {
  box-shadow: 0 0 15px rgba(12, 116, 235, 0.9);
}

.passlength input{
 background: rgba(12, 116, 235, 0.373);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(12, 116, 235, 0.373);
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  outline: none;
}

.generateBtn{
  width: 100%;
  padding: 10px 0px;
  margin-top: 20px;
  cursor: pointer;
  background-color:rgba(12, 116, 235, 0.373);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.generateBtn:focus {
  outline: none;
}

.generateBtn:active {
  box-shadow: 0 0 15px rgba(12, 116, 235, 0.9);
}


input[type="checkbox"] {
  accent-color: rgba(12, 116, 235, 0.373);
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 10px rgba(12, 116, 235, 0.7);
}

.generateBtn:hover{
  background-color: rgba(12, 116, 235, 0.6);
}

.passwordBoxin button:hover{
  background-color: rgba(12, 116, 235, 0.6);
}

.passwordBox input:hover{
  background-color: rgba(12, 116, 235, 0.6);
}